* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    align-items: center;
    margin: 0 auto;
    padding: 36px;
}

.image {
    height: 100%;
    width: 100%;
}

.coundown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #fff;
    min-width: 320px;
}

.coundown-item {
    background-color: #49a6e9;
    padding: 6px;
    min-width: 65px;
}

.expired {
    color: #222;
    margin: 0 auto;
}